<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.42807387008343E-07 -1.14216321836849E-05 0.035427061811967"
        rpy="0 0 0" />
      <mass
        value="0.22839928056115" />
      <inertia
        ixx="0.000107845993769842"
        ixy="4.69199241992071E-09"
        ixz="-4.18790081569241E-10"
        iyy="0.00012724272873121"
        iyz="-5.26917458748835E-08"
        izz="0.000176776323777897" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="yuntai">
    <inertial>
      <origin
        xyz="0.0780606572360386 0.00136421617984901 0.00876485899502558"
        rpy="0 0 0" />
      <mass
        value="0.0552435634534438" />
      <inertia
        ixx="4.73426197062425E-06"
        ixy="-1.33407689192552E-20"
        ixz="-1.61237795968904E-20"
        iyy="0.00014006439338164"
        iyz="7.32005989487422E-22"
        izz="0.000140580200479144" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//yuntai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//yuntai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yuntai"
    type="revolute">
    <origin
      xyz="0 0 0.0565"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="yuntai" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left1">
    <inertial>
      <origin
        xyz="0.0668544341606241 0.00675319321620117 0.00809014602463719"
        rpy="0 0 0" />
      <mass
        value="0.124526845341314" />
      <inertia
        ixx="2.21790593166121E-05"
        ixy="8.08950711398725E-07"
        ixz="2.16081563697381E-06"
        iyy="8.39633304173974E-05"
        iyz="4.5704264780061E-07"
        izz="7.36382552568984E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left1"
    type="revolute">
    <origin
      xyz="0.165 -0.00625 0.01"
      rpy="1.5708 0 3.1416" />
    <parent
      link="yuntai" />
    <child
      link="left1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left2">
    <inertial>
      <origin
        xyz="0.155910016686674 0.000348375153259639 -0.00540573130656971"
        rpy="0 0 0" />
      <mass
        value="0.0774950388502557" />
      <inertia
        ixx="9.01149282256032E-06"
        ixy="4.6786257560337E-07"
        ixz="-1.46015696215423E-07"
        iyy="0.000102901561459192"
        iyz="1.26748145498429E-08"
        izz="9.87797012262116E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left2"
    type="revolute">
    <origin
      xyz="0.14795 0.02 0.00935"
      rpy="0 0 3.1416" />
    <parent
      link="left1" />
    <child
      link="left2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left3">
    <inertial>
      <origin
        xyz="0.0544902482407911 -0.00199214693559568 -0.0248652287916135"
        rpy="0 0 0" />
      <mass
        value="0.0633349973664182" />
      <inertia
        ixx="2.85874489572135E-05"
        ixy="3.35554042540275E-06"
        ixz="-2.19551725379438E-07"
        iyy="3.42814525673839E-05"
        iyz="-4.59736786170198E-07"
        izz="2.43823317885624E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left3"
    type="revolute">
    <origin
      xyz="0.213 0 0.0229"
      rpy="0 0 -1.5708" />
    <parent
      link="left2" />
    <child
      link="left3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left4">
    <inertial>
      <origin
        xyz="-0.0213546888236643 -1.38777878078145E-17 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.0986878737710679" />
      <inertia
        ixx="1.55691033654855E-05"
        ixy="1.94859047791388E-21"
        ixz="6.36222110685529E-21"
        iyy="2.00162772748723E-05"
        iyz="1.6940658945086E-21"
        izz="2.00162772748723E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model//left4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left4"
    type="fixed">
    <origin
      xyz="0.1058 0.0275 -0.026"
      rpy="1.5707963267949 0 0" />
    <parent
      link="left3" />
    <child
      link="left4" />
    <axis
      xyz="0 0.720066850328186 0.693904698830066" />
  </joint>
</robot>