<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm2">
  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="0.014783 0.00010202 0.0201"
        rpy="0 0 0" />
      <mass
        value="0.66509" />
      <inertia
        ixx="0.00045821"
        ixy="-1.8467E-06"
        ixz="1.7333E-06"
        iyy="0.0013721"
        iyz="-3.5576E-07"
        izz="0.0017893" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="joint1">
    <inertial>
      <origin
        xyz="0.055911 -0.0026009 -0.0019211"
        rpy="0 0 0" />
      <mass
        value="0.27086" />
      <inertia
        ixx="0.00028894"
        ixy="-3.1862E-06"
        ixz="3.8023E-13"
        iyy="0.00062372"
        iyz="-4.1831E-10"
        izz="0.00088912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.045"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="joint1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint2">
    <inertial>
      <origin
        xyz="0.15574 0.013687 0.0019175"
        rpy="0 0 0" />
      <mass
        value="0.11716" />
      <inertia
        ixx="1.6104E-05"
        ixy="1.787E-07"
        ixz="1.8605E-07"
        iyy="0.00033829"
        iyz="1.3553E-06"
        izz="0.00034196" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.26 0.0162 0.0075"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="joint1" />
    <child
      link="joint2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint3">
    <inertial>
      <origin
        xyz="0.17263 0.0089207 0.0061556"
        rpy="0 0 0" />
      <mass
        value="0.13105" />
      <inertia
        ixx="1.5148E-05"
        ixy="-6.6213E-07"
        ixz="2.9091E-08"
        iyy="0.0003911"
        iyz="5.752E-08"
        izz="0.00038553" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.224 0.0243 0.0237"
      rpy="0 0 3.1415" />
    <parent
      link="joint2" />
    <child
      link="joint3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint4">
    <inertial>
      <origin
        xyz="0.046952 -0.013438 0.027003"
        rpy="0 0 0" />
      <mass
        value="0.039471" />
      <inertia
        ixx="3.0275E-05"
        ixy="-5.0459E-06"
        ixz="5.3658E-07"
        iyy="4.2026E-05"
        iyz="-1.7446E-07"
        izz="2.7684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.238 0.0175 -0.021"
      rpy="0 0 -1.5704" />
    <parent
      link="joint3" />
    <child
      link="joint4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint5">
    <inertial>
      <origin
        xyz="-0.021355 0 0"
        rpy="0 0 0" />
      <mass
        value="0.098688" />
      <inertia
        ixx="1.5569E-05"
        ixy="6.5645E-21"
        ixz="-7.4909E-21"
        iyy="2.0016E-05"
        iyz="-1.6941E-21"
        izz="2.0016E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm2/model/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="fixed">
    <origin
      xyz="0.1058 -0.0275 0.026"
      rpy="1.5708 0 0" />
    <parent
      link="joint4" />
    <child
      link="joint5" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
