<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm2">
  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="-0.00182551206246392 0.000128003406578883 0.0215264812428795"
        rpy="0 0 0" />
      <mass
        value="0.530093466980402" />
      <inertia
        ixx="0.000453146445540195"
        ixy="-1.84665555166782E-06"
        ixz="1.73327800789877E-06"
        iyy="0.000357108939768296"
        iyz="-3.55760518276216E-07"
        izz="0.000774267345593039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="joint1">
    <inertial>
      <origin
        xyz="0.0616065739594646 -0.0030205165199558 -0.00502038401330474"
        rpy="0 0 0" />
      <mass
        value="0.88269255232493" />
      <inertia
        ixx="0.00103023988514958"
        ixy="-3.3756954916549E-06"
        ixz="6.23842346816224E-09"
        iyy="0.00140850295658248"
        iyz="-6.16791951872094E-09"
        izz="0.00237812485445947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0435"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="joint1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint2">
    <inertial>
      <origin
        xyz="0.177886928739726 0.0179256412216974 0.0175516231273335"
        rpy="0 0 0" />
      <mass
        value="0.253178144050794" />
      <inertia
        ixx="3.07483914116278E-05"
        ixy="-1.90555638894216E-07"
        ixz="1.70474825190144E-08"
        iyy="0.000380288216493965"
        iyz="1.35979136569601E-06"
        izz="0.000389572414791307" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.260000000000043 0.0162000000000001 0.00900000000008132"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="joint1" />
    <child
      link="joint2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint3">
    <inertial>
      <origin
        xyz="0.172630026316932 -0.00892066329846439 0.00877682962397935"
        rpy="0 0 0" />
      <mass
        value="0.131053744091016" />
      <inertia
        ixx="1.51475789162093E-05"
        ixy="6.62130292736494E-07"
        ixz="-2.90911784426711E-08"
        iyy="0.000391102635242257"
        iyz="5.75200488306807E-08"
        izz="0.0003855297575412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.224000000000015 0.0243000000000365 -0.00869999999999983"
      rpy="3.14159265358979 0 3.14159265358979" />
    <parent
      link="joint2" />
    <child
      link="joint3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint4">
    <inertial>
      <origin
        xyz="0.0538040244197375 0.000485530625805912 -0.0265379671160728"
        rpy="0 0 0" />
      <mass
        value="0.0735886999783614" />
      <inertia
        ixx="3.65881264933657E-05"
        ixy="5.04591234764888E-06"
        ixz="-5.36575072106028E-07"
        iyy="4.60627903971841E-05"
        iyz="-1.74457963136036E-07"
        izz="3.17284891385666E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.238000000000014 -0.0175000000000387 0.0360000000000009"
      rpy="0 0 1.5704" />
    <parent
      link="joint3" />
    <child
      link="joint4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="joint5">
    <inertial>
      <origin
        xyz="-1.51545442861334E-14 -1.28508315100362E-14 -0.0213546888236938"
        rpy="0 0 0" />
      <mass
        value="0.098687873771068" />
      <inertia
        ixx="2.00162772748723E-05"
        ixy="1.6940658945086E-21"
        ixz="-4.44692297308508E-20"
        iyy="2.00162772748723E-05"
        iyz="-8.68208770935658E-21"
        izz="1.55691033654856E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="fixed">
    <origin
      xyz="0.105799999999993 0.0274999999999227 -0.0259999999999984"
      rpy="1.5707963267949 1.44388179307632 1.5707963267949" />
    <parent
      link="joint4" />
    <child
      link="joint5" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
